*.log
*.temp
/venv
*.pyc
/.idea
.idea
venv
/.pytest_cache
/migrations
/.env
*.json
*.jsl
*.csv
/dist
/build
/*.png
/*.pdf
*.xlsx
*.xlsm
*.lic
*.std
*.stdf
/cache_test_data
/parser_core/cpp_stdf2hdf5/.vs
/parser_core/cpp_stdf2hdf5/x64
/document/HDF5PandasDataframe/HDF5PandasDataframe-example/.vs
/document/HDF5PandasDataframe/HDF5PandasDataframe-example/x64